<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header>
        <h1>The Holiday Planner</h1>
        <nav>
            <ul>
                <li><a href="#" onclick="showSection('home')">Home</a></li>
                <li><a href="#" onclick="showSection('destinations')">Destinations</a></li>
                <li><a href="#" onclick="showSection('excursions')">Excursions</a></li>
                <li><a href="#" onclick="showSection('upcomingHoliday')">Upcoming Holiday</a></li>
                <li><a href="#" onclick="showSection('profile')">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero">
            <img src="" alt="">
            <h1></h1>
        </div>
        <div class="details">
            <p><strong>Nickname:</strong></p>
            <p><strong>Phone number:</strong></p>
            <p><strong>Email: </strong></p>
            <p><strong>Bio: </strong></p>
        </div>
        </main>
</body>
</html>